.Article {
  display: flex;
  flex-direction: column;
  color: #333;
  text-decoration: none;
  overflow: hidden;
  margin: 0 0 30px 0;
  padding: 16px;
  width: 100%;
  transition: 0.2s;
  background: #fff;
}
.Article:hover {
  background: #f8f8f8;
}
.Article:active {
  background: none;
  transition: none;
}
.Article_Eyecatch {
  width: 100%;
}
.Article_Eyecatch > img {
  width: 100%;
  object-fit: cover;
}
.Article_EyecatchEmpty {
  background: #f8f8f8;
  width: 280px;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Article_Data {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}
.Article_Title {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 10px 0 6px;
  overflow: hidden;
}
.Article_Summary {
  font-size: 1.2rem;
  margin: 0 0 10px;
  color: #555;
}
.Article_Tags {
  margin: 0 0 8px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.Article_Tags li {
  margin: 0 8px 4px 0;
  list-style: none;
  font-size: 1.2rem;
  color: #888;
}
.Article_Author {
  display: flex;
  align-items: center;
}
.Article_Author > img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin: 0 12px 0 0;
  flex-shrink: 0;
}
.Article_Author img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  font-family: 'object-fit: cover'; /* IE11 */
}
.Article_AuthorEmpty {
  width: 32px;
  height: 32px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin: 0 12px 0 0;
  flex-shrink: 0;
}
.Article_AuthorData {
  flex: 1;
}
.Article_AuthorData span {
  font-size: 1.1rem;
  color: #888;
  display: block;
  line-height: 1.5;
}
.Article_AuthorData time {
  font-size: 1.1rem;
  display: block;
  color: #888;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .Article {
    margin: 0 0 30px 0;
    width: 100%;
  }
  .Article:hover .Article_Title {
    text-decoration: underline;
  }
  .Article_Eyecatch {
    width: 100%;
    height: 100%;
  }
  .Article_Eyecatch img {
    width: 100%;
    height: 100%;
  }
  .Article_Title {
    font-size: 1.6rem;
    margin: 12px 0 6px;
  }
  .Article_Tags {
    margin: 0 0 12px;
  }
}
