.Error {
  flex: 1 auto;
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Error_Emoji {
  font-size: 4rem;
  line-height: 1;
  margin: 0 0 16px 0;
}
.Error_Message {
  font-size: 1.8rem;
  margin: 0 0 4px 0;
  padding: 0;
}
.Error_Link {
  font-size: 1.4rem;
}
